.container{
    background: salmon;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form{
    width: 300px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap:20px;
    background: rgb(214, 202, 202);
    padding: 20px;
    border-radius: 20px;
}
h1,input,label,button{
width: 100%;
}

.form h1{
    text-align: center;
}

label{
    font-size: 20px;
}
input{
    padding: 20px;
    height: 20px;
    outline: none;
}

.form button{
    padding: 10px;
    background: red;
    color: white;
}